@charset "UTF-8";
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

/* 
When the browser is smaller than 960px your menu must change from a full menu to a mobile or hamburger menu. When you click on that hamburger it will open to show all the links
*/
.upper {
  text-transform: uppercase;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgba(31, 81, 63, 0.1);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0 auto 0.75rem auto;
  width: 85%;
}

.figure-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.figure-component img {
  display: block;
  border-radius: 0 0 0 0.375rem;
}

.figure-image-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #f4f2ed;
  border-radius: 0.375rem 0 0 0;
}

.figure-title {
  color: #1f513f;
  font-size: 1rem;
}

.card-vertical, .card {
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 30rem;
  background-color: #f4f2ed;
  position: relative;
  z-index: 1;
}
.card-vertical .card-title, .card .card-title {
  color: #1f513f;
  font-size: 1rem;
  text-align: center;
}
.card-vertical .card-title a, .card .card-title a {
  text-decoration-color: #f4f2ed;
  color: #1f513f;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  z-index: 3;
}
.card-vertical .card-title a::after, .card .card-title a::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.card {
  color: #1f513f;
}

.card-vertical {
  flex-direction: column;
}

.card-body-vertical, .card-body {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.card-body-vertical {
  flex-direction: column;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-label {
  font-weight: bold;
}

.hero {
  background-image: linear-gradient(rgba(31, 81, 63, 0.3), rgba(31, 81, 63, 0.3)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero-cta {
  text-align: center;
  color: #f4f2ed;
}
.hero .hero-cta h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.hero .hero-cta p {
  font-size: 1.75rem;
  font-style: italic;
}

.gallery .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.btn, .btn--round {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f2ed;
  background-color: #1f513f;
  cursor: pointer;
}
.btn--round {
  border-radius: 1.875rem;
}
.btn--xsmall {
  height: 2.5rem;
  width: 5.5rem;
  font-size: 0.75rem;
}
.btn--small {
  width: 133px;
  white-space: nowrap;
}
.btn--medium {
  width: 167px;
  height: 60px;
}
.btn--wide {
  width: 100%;
  height: 60px;
}

.form-element {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #f4f2ed;
  height: 60px;
  padding: 20px;
  border-radius: 0.375rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.form-label {
  display: block;
  color: #1f513f;
  margin-bottom: 1rem;
  font-size: 1.33rem;
  font-weight: bold;
}

.form-title {
  color: #1f513f;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  text-align: center;
}

.form-text-area {
  height: 100px;
}

li {
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 2rem;
  background-color: #1f513f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.navbar a {
  color: #f4f2ed;
  text-decoration-color: #f4f2ed;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.5rem;
}
.navbar a:hover {
  color: #000;
  text-decoration-color: #000;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #f4f2ed;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f4f2ed;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #f4f2ed;
}

@media only screen and (max-width: 960px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: rgba(31, 81, 63, 0.9);
    height: 100vh;
    width: 100%;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
footer {
  color: #f4f2ed;
  background-color: #1f513f;
  height: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1030;
}

.section-login {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

form {
  flex: 1 50%;
}

@media only screen and (max-width: 960px) {
  .section-login {
    flex-direction: column;
  }
}
.gallery-detail {
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #f4f2ed;
}
.gallery-detail header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.gallery-detail header .close-detail {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  color: #1f513f;
  cursor: pointer;
}
.gallery-detail header .close-detail:after {
  display: inline-block;
  content: "×"; /* This will render the 'X' */
}
.gallery-detail .detail-content {
  display: flex;
  gap: 1.5rem;
}
.gallery-detail .detail-content img {
  display: block;
  border-radius: 0.375rem;
}
.gallery-detail .detail-content .detail-text {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}
.gallery-detail .detail-content .detail-text .detail-title {
  color: #1f513f;
  font-size: 1.25rem;
}
.gallery-detail .detail-content .detail-text .cost {
  font-size: 1.25rem;
  font-weight: 700;
  align-self: flex-end;
  margin-bottom: 2rem;
}
.gallery-detail .detail-content .detail-text .info {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.gallery-detail .detail-content .detail-text span {
  font-weight: 600;
}

@media only screen and (max-width: 960px) {
  .gallery-detail {
    flex-wrap: wrap;
  }
  .gallery-detail img {
    max-width: 100%;
  }
}