.gallery-detail {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  background-color: rgb($brand-primary, 0.3);
  border-radius: $border-radius;
  //TODO: fix shadow not showing
  box-shadow: $shadow-dark;

  img {
    display: block;
    border-radius: $border-radius;
  }

  .detail-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0.5rem;

    .cost {
      font-size: 1.25rem;
      font-weight: 700;
    }
    span {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .gallery-detail {
    flex-wrap: wrap;
    img {
      max-width: 100%;
    }
  }
}
