.gallery-detail {
  border-radius: $border-radius;
  box-shadow: $shadow-dark;
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;

  background-color: $brand-light;

  img {
    display: block;
    border-radius: $border-radius;
  }

  .detail-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0.5rem;

    .detail-title {
      color: $brand-primary;
      font-size: 1.25rem;
    }

    .info {
      font-size: 0.8rem;
      margin-bottom: 0.75rem;
    }
    .cost {
      font-size: 1.25rem;
      font-weight: 700;
      align-self: flex-end;
    }
    span {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .gallery-detail {
    flex-wrap: wrap;
    img {
      max-width: 100%;
    }
  }
}
