%card-shared {
  border-radius: $border-radius;
  box-shadow: $shadow-dark;
  display: flex;
  gap: 1rem;

  max-width: 30rem;
}

.card {
  @extend %card-shared;
  background-color: $brand-dark;

  color: $brand-primary;
}

.card-vertical {
  @extend %card-shared;
  flex-direction: column;
}

.card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-label {
  font-weight: bold;
}
