%card-shared {
  border-radius: $border-radius;
  box-shadow: $shadow-dark;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;

  max-width: 30rem;

  background-color: $brand-light;
  position: relative;
  z-index: 1;

  //skip changing border color on hover/focus for now.
  //if time, add this in.
  //see N315 homework 01
  .card-title {
    color: $brand-primary;
    font-size: 1rem;
    text-align: center;

    a {
      text-decoration-color: $brand-light;
      color: $brand-primary;
      text-decoration-thickness: 2px;
      text-underline-offset: 0.5rem;
      font-size: 1.25rem;
      font-weight: 700;
      z-index: 3;

      &::after {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
      }
    }
  }
}

.card {
  @extend %card-shared;
  // background-color: rgb($brand-primary, 0.3);
  // background-color: $brand-light;

  //this meets contrast ratio accessibility
  // color: $brand-light;
  color: $brand-primary;
}

.card-vertical {
  @extend %card-shared;
  flex-direction: column;
}

%card-body-shared {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.card-body {
  @extend %card-body-shared;
}

.card-body-vertical {
  @extend %card-body-shared;
  flex-direction: column;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text-label {
  font-weight: bold;
}
