li {
  list-style: none;
}

a {
  color: $brand-light;
  text-decoration-color: $brand-light;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.5rem;
  &:hover {
    color: $brand-primary;
    text-decoration-color: $brand-primary;
  }
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  margin-bottom: $spacing-xl;
  background-color: $brand-dark;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $brand-primary;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: $brand-primary;
}

.nav-link:hover {
  color: $brand-primary;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: $brand-primary;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    background-color: rgb($brand-dark, 0.9);
    height: 100vh;
    width: 100%;

    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
